Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-move-forwarding-reference,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  clang-diagnostic-*,clang-analyzer-*,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-unix.Malloc,
  -clang-analyzer-valist.Uninitialized,
  -clang-diagnostic-unused-const-variable,
  google-*,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  modernize-use-override,
  misc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  performance-*,
  -performance-enum-size,
  readability-*,
  -readability-avoid-nested-conditional-operator,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,

WarningsAsErrors: ''
HeaderFilterRegex: ''
