[ General ]
home-order        = ZXY
require-homing    = yes  # require homing after first switch on
range-check       = yes  # Dangerous if no
auto-motor-disable-seconds = 10

[ X-Axis ]
steps-per-mm     = 32*200 / 60
max-feedrate     = 450
max-acceleration = 800
range            = 355
home-pos         = min

[ Y-Axis ]
steps-per-mm     = 32*200 / 60
max-feedrate     = 450
max-acceleration = 800
range            = 335
home-pos         = min

[ Z-Axis ]
steps-per-mm     = 32*200 / 2
max-feedrate     =   4
max-acceleration = 100
range            =  95
home-pos         = max

# -- hardware mapping

[ Motor-Mapping ]
motor_1 = axis:z
#motor_2 = axis:e
motor_3 = axis:y
#motor_4 = axis:a
motor_5 = axis:x

[ Switch-Mapping ]
switch_1 = active:low min_x
switch_2 = active:low min_y
switch_3 = active:low max_z

[ Aux-Mapping ]
aux_1 = vacuum
aux_2 = fan

[ Pwm-Mapping ]
pwm_2 = spindle-speed
