# -*- conf -*-
# Sample configuration for the VGEN5 cape
##

[ General ]
home-order                 = ZXY           # CNC machine, home Z first then XY
require-homing             = yes           # Require homing (G28) is executed before first move
range-check                = yes           # Check that axes are within range
enable-pause               = yes           # Enable pause switch detection
auto-motor-disable-seconds = 120           # Switch off motors after 2 minutes of inactivity
auto-fan-disable-seconds   = 240           # Switch off fan 4 minutes after motors
auto-fan-pwm               = 5             # Enable fan at a PWM of 5 when a GCode program is started

[ X-Axis ]
steps-per-mm     = 200 * 16 * 4 / 25.4     # 16 microsteps 1/4 pitch screw
max-feedrate     = 100                     # mm/s (~3.9 in/sec)
max-acceleration = 381                     # mm/s^2 (~15 in/sec^2)
range            = 6.5 * 25.4              # mm (6.5 in)
home-pos         = min                     # home at X-

[ Y-Axis ]
steps-per-mm     = 200 * 16 * 4 / 25.4     # 16 microsteps 1/4 pitch screw
max-feedrate     = 100                     # mm/s (~3.9 in/sec)
max-acceleration = 381                     # mm/s^2 (~15 in/sec^2)
range            = 7.5 * 25.4              # mm (7.5 in)
home-pos         = min                     # home at Y-

[ Z-Axis ]
steps-per-mm     = 200 * 16 * 4 / 25.4     # 16 microsteps 1/4 pitch screw
max-feedrate     = 100                     # mm/s (~3.9 in/sec)
max-acceleration = 381                     # mm/s^2 (~15 in/sec^2)
range            = 0.75 * 25.4             # mm (0.75 in)
home-pos         = max                     # home at Z+

[ Motor-Mapping ]
motor_1 = axis:x                           # X axis
motor_2 = axis:-y                          # Y axis
motor_3 = axis:-z                          # Z axis

[ Switch-Mapping ]
switch_1 = active:low min_x                # X home limit
switch_2 = active:low min_y                # Y home limit
switch_3 = active:low max_z                # Z home limit
switch_4 = active:low min_z                # Z prox (surface detect)
#switch_5 =                                # IN4
#switch_6 =                                # IN5
switch_7 = active:high e-stop              # n/c e-stop switch to gnd
switch_8 = active:low pause                # n/o pause switch to gnd
switch_9 = active:low start                # n/o start switch to gnd

[ Aux-Mapping ]
aux_1  = vacuum                            # Aux Vacuum (M10=on; M11=off)
aux_2  = mist                              # Aux Mist Coolant (M7=on; M9=off)
aux_3  = cooler                            # General Purpose Aux Output (M245=on; M246=off)
#aux_4 = fan                               # Fan is GPIO controlled (M106 Sn=on (n > 0); M107=off)
aux_14 = spindle-on                        # Spindle on
aux_16 = led                               # User LED

[ PWM-Mapping ]
pwm_4 = fan                                # Fan is PWM controlled (M106 Sn=on at Sn (0-255) PWM; M107=off)
